########################################################################
# ReportType followed by frequency (all, daily, weekly or monthly)
# followed by space-separated list of recipients. In the case of
# multiple lines being applicable, only the first one is honored.
#
# Keyword "default" as an email address is expanded to the existing
# default-configured destination (eg osg-reporting-info@fnal.gov).
########################################################################
reporting weekly jemise@fnal.gov default
