a:link 
{
	text-decoration: none; 
}

body
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.60em; 
}
label
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.75em; 
}

.reportTitle
{
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em; 
}
table.menu
{
}
.menuGroup
{
	overflow: hidden;
	width: 12em;
        font-family: Verdana, Arial, sans-serif;
        font-weight: bold;
        color: #462300;
        font-size: 0.70em;
	text-align: left;
}
a.menuItem
{
	cursor: pointer;
	overflow: hidden;
	color: #e07630;
	text-indent: 0.65em;
	text-align: left;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.65em; 
	text-decoration: none;
}
a.menuItem:hover
{
	border: solid 0.01em #e07630;
	color: #FFFFFF; 
	background-color: #e07630;
}
a.menuItem:focus
{
	border: solid 0.01em #e07630;
	color: #FFFFFF; 
	background-color: #e07630;
}
a.menuItem:active
{
	border: solid 0.01em #e07630;
	color: #FFFFFF; 
	background-color: #e07630;
}
.osgcolor {
	color: #e07630;
	text-decoration: underline;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.5em; 
} 

.reportTitle {
	text-decoration: underline;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.12em; 
} 

.menufields {
        font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
        color: #462300;
	font-size: 0.75em; 
}

.paramSelect
{
}
.paramName
{
	font-weight: bold;
}
.paramHelp
{
}
.button
{
}
