a:link 
{
	text-decoration: none; 
}

table.menu
{
}
.menuGroup
{
	overflow: hidden;
	width: 175px;
        font-family: Verdana, Arial, sans-serif;
        font-weight: bold;
        color: #462300;
        font-size: 11px;
	text-align: left;
}
a.menuItem
{
	cursor: pointer;
	overflow: hidden;
	color: #e07630;
	text-indent: 10px;
	text-align: left;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px; 
	text-decoration: none;
}
a.menuItem:hover
{
	border: solid 1px #e07630;
	color: #FFFFFF; 
	background-color: #e07630;
}
a.menuItem:focus
{
	border: solid 1px #e07630;
	color: #FFFFFF; 
	background-color: #e07630;
}
a.menuItem:active
{
	border: solid 1px #e07630;
	color: #FFFFFF; 
	background-color: #e07630;
}
.osgcolor {
	color: #e07630;
	text-decoration: underline;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	font-size: 24px; 
} 

.reportTitle {
	text-decoration: underline;
	font-weight: bold;
	font-family: Verdana, Arial, sans-serif;
	font-size: 18px; 
} 

.menufields {
        font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
        color: #462300;
	font-size: 12px; 
}

.paramSelect
{
}
.paramName
{
	font-weight: bold;
}
.paramHelp
{
}
.button
{
}
