<?xml version="1.0" encoding="ISO-8859-1"?>
<!--
  Copyright 2004 The Apache Software Foundation

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Gratia System Administration</display-name>
    <description>
      Gratia Accounting - Administration
    </description>

    <servlet>
        <servlet-name>SiteMgmt</servlet-name>
        <servlet-class>net.sf.gratia.administration.SiteMgmt</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ProbeTable</servlet-name>
        <servlet-class>net.sf.gratia.administration.ProbeTable</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>VOMgmt</servlet-name>
        <servlet-class>net.sf.gratia.administration.VOMgmt</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>VONameCorrection</servlet-name>
        <servlet-class>net.sf.gratia.administration.VONameCorrection</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>CertificateTable</servlet-name>
        <servlet-class>net.sf.gratia.administration.CertificateTable</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ConnectionTable</servlet-name>
        <servlet-class>net.sf.gratia.administration.ConnectionTable</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>jobusagerecordreplicationtable</servlet-name>
        <servlet-class>net.sf.gratia.administration.ReplicationTable</servlet-class>
        <load-on-startup>2</load-on-startup>
        <init-param>
           <param-name>RecordType</param-name>
           <param-value>JobUsageRecord</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>metricrecordreplicationtable</servlet-name>
        <servlet-class>net.sf.gratia.administration.ReplicationTable</servlet-class>
        <load-on-startup>2</load-on-startup>
        <init-param>
           <param-name>RecordType</param-name>
           <param-value>MetricRecord</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>computeelementreplicationtable</servlet-name>
        <servlet-class>net.sf.gratia.administration.ReplicationTable</servlet-class>
        <load-on-startup>2</load-on-startup>
        <init-param>
           <param-name>RecordType</param-name>
           <param-value>ComputeElement</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>storageelementreplicationtable</servlet-name>
        <servlet-class>net.sf.gratia.administration.ReplicationTable</servlet-class>
        <load-on-startup>2</load-on-startup>
        <init-param>
           <param-name>RecordType</param-name>
           <param-value>StorageElement</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>computeelementrecordreplicationtable</servlet-name>
        <servlet-class>net.sf.gratia.administration.ReplicationTable</servlet-class>
        <load-on-startup>2</load-on-startup>
        <init-param>
           <param-name>RecordType</param-name>
           <param-value>ComputeElementRecord</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>storageelementrecrdreplicationtable</servlet-name>
        <servlet-class>net.sf.gratia.administration.ReplicationTable</servlet-class>
        <load-on-startup>2</load-on-startup>
        <init-param>
           <param-name>RecordType</param-name>
           <param-value>StorageElementRecord</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>subclusterreplicationtable</servlet-name>
        <servlet-class>net.sf.gratia.administration.ReplicationTable</servlet-class>
        <load-on-startup>2</load-on-startup>
        <init-param>
           <param-name>RecordType</param-name>
           <param-value>Subcluster</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>probedetailsreplicationtable</servlet-name>
        <servlet-class>net.sf.gratia.administration.ReplicationTable</servlet-class>
        <load-on-startup>2</load-on-startup>
        <init-param>
           <param-name>RecordType</param-name>
           <param-value>ProbeDetails</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>CPUInfo</servlet-name>
        <servlet-class>net.sf.gratia.administration.CPUInfo</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Roles</servlet-name>
        <servlet-class>net.sf.gratia.administration.Roles</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>Status</servlet-name>
        <servlet-class>net.sf.gratia.administration.Status</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>MonitorStatus</servlet-name>
        <servlet-class>net.sf.gratia.administration.MonitorStatus</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SystemAdministration</servlet-name>
        <servlet-class>net.sf.gratia.administration.SystemAdministration</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>StopDatabase</servlet-name>
        <servlet-class>net.sf.gratia.administration.StopDatabase</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SiteMgmt</servlet-name>
        <url-pattern>/site.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VOMgmt</servlet-name>
        <url-pattern>/vo.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>VONameCorrection</servlet-name>
        <url-pattern>/vonamecorrection.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProbeTable</servlet-name>
        <url-pattern>/probetable.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ConnectionTable</servlet-name>
        <url-pattern>/connectiontable.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CertificateTable</servlet-name>
        <url-pattern>/certificatetable.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>jobusagerecordreplicationtable</servlet-name>
        <url-pattern>/jobusagerecordreplicationtable.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>metricrecordreplicationtable</servlet-name>
        <url-pattern>/metricrecordreplicationtable.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>probedetailsreplicationtable</servlet-name>
        <url-pattern>/probedetailsreplicationtable.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CPUInfo</servlet-name>
        <url-pattern>/cpuinfo.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Status</servlet-name>
        <url-pattern>/status.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SystemAdministration</servlet-name>
        <url-pattern>/systemadministration.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Roles</servlet-name>
        <url-pattern>/roles.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MonitorStatus</servlet-name>
        <url-pattern>/monitor-status.html</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>StopDatabase</servlet-name>
        <url-pattern>/stopGratiaDatabaseUpdateThreads.html</url-pattern>
    </servlet-mapping>

</web-app>
